<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
</head>
<body>
    <br>
    <h1>WELCOME TO</h1>
    <h1>LIBRARY MANAGEMENT SYSTEM</h1>
    
    <div class="center">
        <div class="intro">
            <div class="text">
                <div class="row">
            <p><span>&#9733;</span> A   multi  user library management system</p>
            <p>employing Flask & Jinja2 templates with SQLite for data storage </p>
            <p> seamless e-book issuance & management</p></div>
            </div>
            <div class="navig">
                <a href="/librarian_login"><button id="b1">Admin</button></a>
                <a href="/user_login_page"><button id="b1">Login</button></a>
            </div>

        </div>
        <div class="image">
            <img src="../static/images/lib.jpeg" alt="library_management_system_emblem" style="max-width:100%;height:auto;" class="center">
        </div>
        
        
    </div>
    <br>
    

</body>
</html>