<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Request</title>
    <link rel="stylesheet" href="../static/CSS/view_requests.css">
</head>
<body>
    <div class="row">
        <div class="back">
            <a href="/librarian_dashboard/{{id}}"><button id="add2">Home</button>
            </a>
        </div>
        <div class="requested">
            <div class="tag">
                <h2 class="head">Requested Books</h2>
            </div>
            <div class="row2">
                <table class="row3" border="box" bordercolor=" dark black">
                    <tr>
                        <div class="row4">
                            <th><h3>User Id</h3></th>
                            <th><h3>ISBN_NO</h3></th>
                            <th> <h3>Title</h3></th>
                            <th> <h3>Requested On</h3></th>
                            <th> <h3>Action</h3></th>
                        </div>
                    </tr>
                    {% for x in requested %}
                        {% for y in range(requested[x]|length) %}
                        <tr>
                            <td><p>{{x}}</p></td>
                            <td><p>{{requested[x][y]["ISBN_NO"]}}</p></td>
                            <td><p>{{requested[x][y]["title"]}}</p></td>
                            <td><p>{{requested[x][y]["requested_date"]}}</p></td>
                            <div class="buttons">
                                <td colspan="2">
                                    <a href="/grant_permission/{{id}}/{{x}}/{{requested[x][y]["ISBN_NO"]}}"><button id="add2">Grant</button></a>
                                    <a href="/reject_permission/{{id}}/{{x}}/{{requested[x][y]["ISBN_NO"]}}"><button id="add2">Reject</button></a>
                                </td>
                            </div>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
                
            </div>
        </div>
        <div class="granted">
            <div class="tag">
                <h2 class="head">Granted Books</h2>
            </div>
            <div class="row2">
                <table class="row3" border="box" bordercolor=" dark black">
                    <tr>
                        <div class="row4">
                            <th><h3>User Id</h3></th>
                            <th><h3>ISBN_NO</h3></th>
                            <th> <h3>Title</h3></th>
                            <th> <h3>Granted On</h3></th>
                            <th><h3>Action</h3></th>
                        </div>
                    </tr>
                    {% for x in granted %}
                        {% for y in range(granted[x]|length) %}
                        <tr>
                            <td><p>{{x}}</p></td>
                            <td><p>{{granted[x][y]["ISBN_NO"]}}</p></td>
                            <td><p>{{granted[x][y]["title"]}}</p></td>
                            <td><p>{{granted[x][y]["granted_date"]}}</p></td>
                            <td>
                                <a href="/revoke_book/{{id}}/{{x}}/{{granted[x][y]["ISBN_NO"]}}">
                                    <button id="add2">Revoke</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
                
            </div>
        </div>
        <div class="revoked">
            <div class="tag">
                <h2 class="head">Revoked Books</h2>
            </div>
            <div class="row2">
                <table class="row3" border="box" bordercolor=" dark black">
                    <tr>
                        <div class="row4">
                            <th><h3>User Id</h3></th>
                            <th><h3>ISBN_NO</h3></th>
                            <th> <h3>Title</h3></th>
                            <th> <h3>Revoked On</h3></th>
                        </div>
                    </tr>
                    {% for x in revoked %}
                        {% for y in range(revoked[x]|length) %}
                        <tr>
                            <td><p>{{x}}</p></td>
                            <td><p>{{revoked[x][y]["ISBN_NO"]}}</p></td>
                            <td><p>{{revoked[x][y]["title"]}}</p></td>
                            <td><p>{{revoked[x][y]["revoked_date"]}}</p></td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
                
            </div>
        </div>
    </div>
</body>
</html>